# Node
node_modules/
.npm
.eslintcache
.next/
out/
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Databases / Logs
*.log
.database/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sync

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
